<h1>Fill form while marking</h1>
<form action="/generate" method="post">
  {{#each post.statement}}
    <label class="statement">{{inc @index}}: {{this.value}} blahs</label>
    <ul class={{this.key}}>
      {{#each ../post.likarts}}
        <li>
          <label><input type="radio" name={{../this.key}} value={{this}}>{{replace this}}</label>
        </li>
      {{/each}}
    </ul>
  {{/each}}
  <label for="comments">extra comments:</label>
  <br>
  <textarea rows="20" cols="80" type="text" id="comments" name="comments" value=""></textarea>
  <br>

  <input type="reset" value="Reset">
  <input type="submit" value="Submit">
</form>
<a href="./lastreport" target="_blank" rel="noopener noreferrer">last report</a>
